body {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 0, 17);
    overflow: hidden;
    min-height: 100vh
}

.frameframe {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 23px;
    align-items: center;
    border: 1px dotted rgb(132, 17, 255);
    box-sizing: border-box;
    height: auto;
    max-width: 1080px;
    width: auto;
    margin: 16px auto 32px;
    overflow: visible;
    outline: rgb(8, 0, 17) double 2px;
    background-color: rgba(9, 0, 17, 0.667);
    box-shadow: inset 0 2px 13px rgb(128, 0, 255)
}

.titc,.textframe {
    background-color: rgb(18, 0, 34);
    box-shadow: 0px 0px 9px rgb(128, 0, 255);
}

.titc {
    text-align: center;
    color: #fff;
    text-shadow: rgb(64, 0, 119) 0 2px 8px;
    height: 18px;
    border: 2px solid #000;
    font-weight: 700
}

.cat-text {
    font-size: 53px;
    color: rgb(116, 17, 255);
    width: 1080px;
    margin: 28px auto auto 6px;
    letter-spacing: -3px;
    text-shadow: 0 4px 3px #000
}

.textframe {
    height: 90px;
    width: fit-content;
    margin: auto auto -14px;
    border: 2px solid;
    outline: rgb(64, 0, 119) double 2px;
    box-sizing: border-box
}

.bg-sides {
    background: url('wasteland.png') center/cover;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    min-height: 910px;
    box-shadow: 0px 0px 9px rgb(128, 0, 255);
}

#bg-sides,#right {
    left: 88%;
    right: 0
}

#bg-sides,#left {
    right: 88%;
    left: 0
}

.bg-sides::after,.bg-sides::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: url('celestial.png');
    box-shadow: 0px 0px 9px rgb(128, 0, 255);
}

.bg-sides::before {
    left: -2px
}

.bg-sides::after {
    right: -2px
}

@media (max-width: 1471px) {
    .textframe {
        width:100%
    }
}

@media (min-width: 1471px) {
    .textframe {
        width:1080px
    }
}

@media (min-height: 769px) {
    #search {
        top:79px!important
    }
}

#front {
    width: 74%;
    height: calc(100vh - 32px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    padding-inline:16px;padding-top: 42px;
    scrollbar-width: thin;
    scrollbar-color: rgb(53, 17, 85) rgb(19, 0, 34)
}

#search input {
    position: absolute;
    left: 8px;
    top: 7px;
    height: 19px;
    width: 267px;
    outline: #000 solid 1px;
    border: none;
    background: #0005;
    color: rgb(120, 17, 255);
    line-height: 14px;
    font-size: 13px
}

#search input:focus {
    outline: rgb(77, 0, 153) solid 1px
}

portc {
    width: 160px;
    overflow: hidden;
    font-size: 16px!important;
    font-family: Arial Black;
    position: relative;
    border: 1px solid #2b0050;
    box-shadow: 0px 0px 9px rgb(128, 0, 255);
    padding-inline:3px;line-height: 1.1!important;
    margin: 6px auto 24px auto;
    scale: 0.96
}

portc:hover {
    transform: translateY(-2px) scale(1.023)
}

portc img {
    width: 170px;
    margin-left: -3px;
}

portc:hover .titc {
    border: 2px solid rgb(0, 4, 255);
    text-shadow: rgb(211, 170, 255) 0 2px 8px;
    box-shadow: 0px 0px 9px rgb(0, 4, 255);
}

@media (max-width: 1010px) {
    .bg-sides {
        display:none
    }

    #front {
        width: 95%!important;
        padding-top: 32px!important
    }

    #search {
        left: 171px
    }

    portc {
        width: 90px;
        height: 140px
    }

    portc img {
        height: 118px!important;
        width: fit-content!important
    }
}

@media (max-width: 1439px) {
    #front {
        width:75%!important;
        padding-top: 36px!important
    }

    #search {
        left: 163px;
        z-index: 10!important
    }

    portc {
        width: 90px;
        height: 140px
    }

    portc img {
        height: 118px!important;
        width: fit-content!important
    }
}